<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.plocate-macos.updatedb</string>

	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/sbin/updatedb</string>
		<string>--output</string>
		<string>/opt/homebrew/var/lib/plocate/plocate.db</string>
	</array>

	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>2</integer>
		<key>Minute</key>
		<integer>30</integer>
	</dict>

	<key>UserName</key>
	<string>root</string>

	<key>Nice</key>
	<integer>10</integer>

	<key>LowPriorityIO</key>
	<true/>

	<key>StandardOutPath</key>
	<string>/var/log/plocate-updatedb.log</string>

	<key>StandardErrorPath</key>
	<string>/var/log/plocate-updatedb.log</string>

	<key>RunAtLoad</key>
	<false/>
</dict>
</plist>
